<footer class='second-contents-footer'>
  <div class='second-fotter-text-wrap'>
    <p class='second-fotter-text'>プライバシーポリシー</p>
    <p class='second-fotter-text'>マイトレ利用規約</p>
    <p class='second-fotter-text'>マイトレに関する問合せ</p>
  </div>
  <%= image_tag "Logo-yoko.png", class:"second-fotter-logo"%>
</footer>